
        body{
            background-color: rgb(130, 90, 148);
        }

        #first{
            background-color: black;
         }
    
        .bg-blue {
            background-color:brown;
            color: white;
           
        }
    